{
    "env": {
        "targets": {
            "node": "19"
        }
    },
    "jsc": {
        "parser": {
            "syntax": "typescript"
        }
    },
    "module": {
        "type": "commonjs"
    },
    "sourceMaps": "inline"
}